@import '@styles/layout.scss';
@import '@styles/variables.scss';

.container {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 60vh;
  max-height: $max-token-height;
  // overflow: hidden;

  .pdfNav {
    position: relative;
    margin: 6px;
    text-align: center;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin: 6px 12px;
    }
  }
}

.previous_page {
  position: absolute !important;
  z-index: 50;
  top: 0;
  left: 0;
  // border: 10px solid pink;
  opacity: 1;
}

.page {
  height: 100%;
}
