@import '@styles/variables.scss';

.container,
.msg_box {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  a {
    font-size: $font-small;
  }
}
.msg_box {
  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: $font-small;
  }
  margin-bottom: 10em;
  border: 1px dashed var(--text-color);
  padding: 1em 2em;
  width: max-content;
}
