@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.section {
  margin: 1em 0;

  a {
    text-decoration: underline;
  }

  > p {
    margin: 1em 0;
  }

  @include respond-to('desktop') {
    margin-bottom: 30px;
  }
}

.section_title {
  margin-bottom: 1em;
}

.parameters_list {
  > li {
    margin: 0.8em 0;
  }
}

.proposal_list {
  margin-top: 2em;
}

.proposal {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 1em 0;

  p {
    margin: 0.5em 0;
  }

  @include respond-to('desktop') {
    flex-direction: row;
    gap: 0.5em;
  }
}

.proposal_information {
  width: 100%;
}

.proposal_id {
  margin-right: 0.5em;
  padding: 0 1em;
  text-align: center;
  background-color: var(--gray-15);
}

.proposal_title {
  font-weight: bold;
}

.proposal_details {
  > summary {
    cursor: pointer;

    &:before {
      margin-right: 0.5em;
      content: '▶';
    }
  }

  &[open] > summary:before {
    content: '▼';
  }

  table {
    display: inline-block;
    overflow: hidden;
    margin-top: 0.5em;
    padding: 1em;
    background-color: var(--gray-15);
  }

  td:first-child {
    text-align: right;
    padding-right: 0.5em;
  }
}

.micheline_code {
  margin-top: 0.5em;
  padding: 1em;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: var(--gray-15);
}

.user_vote {
  display: inline-block;
  margin-left: 0.5em;
  min-width: 4em;
}

.proposal_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5em;
  margin: 0.5em 0;

  @include respond-to('desktop') {
    justify-content: flex-end;
  }
}

.proposal_form {
  margin-top: 2em;
}

.proposal_form_fields {
  margin-bottom: 1em;
}

.proposal_form_field {
  margin: 1em 0;
}
