@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.section {
  margin: 1em 0;

  a {
    text-decoration: underline;
  }

  > p {
    margin: 1em 0;
  }

  @include respond-to('desktop') {
    margin-bottom: 30px;
  }
}

.section_title {
  margin-bottom: 1em;
}

.parameters_list {
  li {
    margin-top: 0.8em;
  }

  li:before {
    content: '';
  }
}

.proposal_list {
  > li {
    margin: 0;
    padding: 0.2em 0;

    &:before {
      content: '';
    }
  }
}

.proposal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5em;
  padding: 2em 0;

  @include respond-to('desktop') {
    flex-direction: row;
  }
}

.proposal_information {
  width: 100%;

  p {
    margin: 0.5em 0;
  }

  @include respond-to('desktop') {
    flex: 1 1 0;
  }
}

.proposal_id {
  display: inline-block;
  color: var(--gray-5);
  background-color: var(--gray-90);
  min-width: 4em;
  padding: 0 0.5em;
  margin-right: 0.5em;
  border-radius: 4px;
  text-align: center;
}

.proposal_title {
  font-weight: bold;
}

.proposal_details {
  summary {
    cursor: pointer;
  }

  table {
    color: var(--gray-5);
    background-color: var(--gray-90);
    display: inline-block;
    margin: 0.5em 0 0 0;
    padding: 1em;
    border-radius: 4px;
    overflow: hidden;

    a {
      color: var(--gray-5);
    }
  }

  td:first-child {
    text-align: right;
    padding-right: 0.5em;
  }
}

.micheline_code {
  line-height: 1.4;
  margin: 1em 0;
  padding: 1em;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--gray-5);
  background-color: var(--gray-90);
}

.proposal_votes_summary {
  margin-top: 1em;
}

.votes_display_result {
  font-size: 0.9em;
  text-align: center;
  color: black;
  margin: 0 1em;
  display: flex;
  flex-direction: row;
}

.vote_display_nothing {
  background-color: white;
}

.vote_display_yes {
  background-color: lighten(green, 55%);
}

.vote_display_no {
  background-color: lighten(red, 25%);
}

.vote_display_abstain {
  background-color: lighten(yellow, 25%);
}

.user_votes {
  display: inline-block;
  min-width: 3em;
  padding: 0.5em;
  border-radius: 4px;
  background-color: white;
  margin: 0 0.5em 0.5em 0;

  &:empty:before {
    content: '\200b';
  }
}

.yes_vote {
  background-color: lighten(green, 55%);
}

.no_vote {
  background-color: lighten(red, 25%);
}

.abstain_vote {
  background-color: lighten(yellow, 25%);
}

.proposal_actions {
  margin-right: 0.5em;

  > :not(:first-child) {
    margin-top: 1em;
  }

  p {
    margin: 0.5em 0;
  }
}

.proposal_actions_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5em;
  align-items: baseline;

  @include respond-to('desktop') {
    justify-content: flex-end;
  }
}

.proposal_form {
  margin: 3em 0 3em 0;
}

.proposal_form_fields {
  margin-bottom: 1em;
}

.proposal_form_field {
  margin: 1em 0;
}

.proposal_description_label {
  display: inline-block;
  font-weight: 700;
  letter-spacing: $letter-spacing;
  color: inherit;
  pointer-events: none;
  border: 1px;
}

.transfers_fields {
  margin-bottom: 1em;
}
