{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "eslint:recommended",
    "plugin:react/jsx-runtime"
  ],
  "globals": {
    "JSX": "readonly"
  },
  "root": true,
  "plugins": ["jsx-a11y"],
  "rules": {
    "jsx-a11y/media-has-caption": "off"
  },
  "ignorePatterns": ["**/*.html", "node_polyfill.js"]
}
