# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# IDEs
.vscode

# production
/build
/amplify
# misc
#.env_prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig

# contributor specific (local) folders
.next

.dev
/test-results/
/playwright-report/
/playwright/.cache/
screenshot/

# react-pdf
public/standard_fonts
public/cmaps
public/pdf.worker.min.js




src/icons/svgs/rotating_logos/julioglatt_01.svg
src/icons/svgs/rotating_logos/julioglatt_02.svg
src/icons/svgs/rotating_logos/julioglatt_03.svg
src/icons/svgs/rotating_logos/julioglatt_04.svg
src/icons/svgs/rotating_logos/julioglatt_05.svg
src/icons/svgs/rotating_logos/julioglatt_06.svg
src/icons/svgs/rotating_logos/merchantcoppola_01.svg
src/icons/svgs/rotating_logos/serg_alec_horomox_01.svg
src/icons/svgs/rotating_logos/slinkous_01.svg
src/icons/svgs/rotating_logos/somfay_01.svg
src/icons/svgs/rotating_logos/somfay_02.svg
