---
version: "3.8"
services:
  teia-ui:
    image: registry.ziroh.be/teia-community/teia-ui:develop
    build:
      dockerfile: docker/Dockerfile
      context: .
    restart: unless-stopped
    ports:
      - 0.0.0.0:8080:80
    volumes:
      - ./docker/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./docker/previews.lua:/lua/previews.lua
    env_file:
      - .env
  tzproxy:
    image: ghcr.io/marigold-dev/tzproxy:latest
    restart: unless-stopped
    volumes:
      - ./docker/tzproxy.yaml:/tzproxy.yaml
