.text_field_error {
  position: absolute;
  right: 0;
  top: 0;
}
.error {
  color: red;
}

.field,
.typed_field {
  margin: 1em 0;
}

.typed_field textarea {
  margin-top: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  height: 20rem;
  resize: auto;
  border: 1px solid rgba(255, 255, 255, 0.6) !important;
  padding: 0;
}

.typed_field textarea.mono {
  font-family: 'IBM Plex Mono', monospace !important;
}
