@import '@styles/layout.scss';

.grid {
  display: flex;
  margin-left: -16px;
  width: auto;
  @include respond-to('tablet') {
    margin-left: -20px;
  }
}

.column {
  padding-left: 16px;
  background-clip: padding-box;

  @include respond-to('tablet') {
    padding-left: 20px;
  }

  & > * {
    position: relative;
    display: block;
    margin-bottom: 5px;
  }
}
