@use '@styles/layout' as layout;

.grid {
  display: flex;
  margin-left: -16px;
  width: auto;

  @include layout.respond-to('tablet') {
    margin-left: -20px;
  }
}

.column {
  padding-left: 16px;
  background-clip: padding-box;

  @include layout.respond-to('tablet') {
    padding-left: 20px;
  }

  & > * {
    position: relative;
    display: block;
    margin-bottom: 5px;
  }
}
