@import '@styles/layout.scss';
@import '@styles/variables.scss';

.container {
  max-height: auto;
  max-width: 100%;
}

.displayviewVideo {
  height: 100%;
  width: 100%;
  max-height: $max-token-height;
}

.video {
  max-height: 60vh;
  max-width: 100%;
}

.icon {
  position: absolute;
  top: 6px;
  right: 6px;
}
