@use '@styles/layout' as layout;
@use '@styles/config' as *;

.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  word-break: break-word;
  position: relative;

  @include layout.respond-to('desktop') {
  }

  &.large {
    @include layout.respond-to('desktop') {
      width: 55%;
    }
  }

  &.xlarge {
    @include layout.respond-to('desktop') {
      width: 80%;
    }
  }
}
