@import '@styles/variables.scss';
@import '@styles/layout.scss';

.tag {
  font-family: --var(--text-font);
  background: none;
  border: none;
  display: inline-flex;
  color: var(--text-color);
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: $font-body;
  font-weight: bold;
  align-items: center;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  img {
    // padding-right: 1em;
    margin-right: 0.5em;
  }
}

.feed_info {
  border: 0.5px white solid;
  width: 50%;
  margin: auto;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}
