@import '@styles/layout.scss';
@import '@styles/variables.scss';

.feed_container,
.container {
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.container {
  img {
    max-height: calc($max-token-height - 20vh);
  }

  span > div {
    margin: 0 auto !important;
    display: block !important;
  }

  i {
    margin: 0 auto;
    display: block;
    font-size: smaller;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
}
.feed_container {
  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .playerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .playerButton i {
    font-size: smaller;
    font-style: italic;
    line-height: 1.2;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 2px;
    text-align: center;
  }
}
