@import '@styles/variables.scss';
@import '@styles/layout.scss';

.logo {
  color: var(--text-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transition: fill #{$theme-duration} ease-out;
  }

  img {
    width: auto;
    height: 32px;
  }
}

// only use for the beta this can be removed all together once release
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .beta {
    color: var(--gray-50);
    font-size: $font-xsmall;
    padding-top: 0.5em;
  }
}
