$font-large: 18px;
$font-body: 16px;
$font-small: 13px;
$font-xsmall: 11px;

$font-large-mobile: 16px;
$font-small-mobile: 13px;

$max-token-height: 60vh;

$theme-duration: 0.333s;
$letter-spacing: 0.015em;
