$font-large: 18px;
$font-body: 16px;
$font-small: 13px;
$font-xsmall: 11px;

$font-large-mobile: 16px;
$font-small-mobile: 13px;

$max-token-height: 60vh;

$theme-duration: 0.333s;
$letter-spacing: 0.015em;

:root {
  // COMMON
  --text-font: 'Iosevka', 'IBM Plex Mono', 'Courier New', monospace;
  --body-transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
  --max-width: 1800px;
  --max-width-internal: 1200px;

  // Theme
  --gray-0: #ffffff;
  --gray-5: #f2f2f2;
  --gray-10: #e6e6e6;
  --gray-15: #d9d9d9;
  --gray-20: #cccccc;
  --gray-30: #b3b3b3;
  --gray-40: #999999;
  --gray-50: #808080;
  --gray-60: #666666;
  --gray-70: #4d4d4d;
  --gray-80: #333333;
  --gray-90: #191919;
  --gray-100: #000000;

  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --secondary-color: rgba(0, 0, 0, 0.5);

  --text-color: var(--gray-80);
}

:root[data-theme='dark'] {
  --gray-0: #000000;
  --gray-5: #2f2f2f;
  --gray-10: #1a1a1a;
  --gray-15: #262626;
  --gray-20: #515151;
  --gray-30: #494949;
  --gray-40: #666666;
  --gray-50: #808080;
  --gray-60: #999999;
  --gray-70: #b3b3b3;
  --gray-80: #cccccc;
  --gray-90: #e6e6e6;
  --gray-100: #ffffff;

  --background-color: #111;
  --background-color-rgb: 0, 0, 0;
  --border-color: rgba(255, 255, 255, 0.3);
  --shadow-color: rgba(255, 255, 255, 0.3);
  --secondary-color: rgba(255, 255, 255, 0.5);

  --text-color: #dedede;
}

:root[data-theme='grass'] {
  --gray-0: #000000;
  --gray-5: #023108;
  --gray-10: #1a1a1a;
  --gray-15: #262626;
  --gray-20: #075000;
  --gray-30: #494949;
  --gray-40: #666666;
  --gray-50: #028802;
  --gray-60: #00970d;
  --gray-70: #28c202;
  --gray-80: #05d810;
  --gray-90: #00e21e;
  --gray-100: #00ff00;

  --background-color: #111;
  --background-color-rgb: 0, 0, 0;
  --border-color: rgba(255, 255, 255, 0.3);
  --shadow-color: rgba(255, 255, 255, 0.3);
  --secondary-color: rgba(255, 255, 255, 0.5);

  --text-color: #00ff00;
}

:root[data-theme='noui'] {
  --gray-0: #111;
  --gray-5: ##111;
  --gray-10: #111;
  --gray-15: #111;
  --gray-20: #111;
  --gray-30: #111;
  --gray-40: #111;
  --gray-50: #111;
  --gray-60: #111;
  --gray-70: #111;
  --gray-80: #111;
  --gray-90: #111;
  --gray-100: #111;

  --background-color: #111;
  --text-color: #111;
  * {
    color: #111;

    svg {
      * {
        fill: #111;
        stroke: #111;
      }
    }
    svg:hover {
      * {
        fill: #cccccc;
        stroke: #cccccc;
      }
    }
    &:hover {
      color: #cccccc;
    }
  }
}
:root[data-theme='aqua'] {
  --gray-0: #6aadff;
  --gray-5: #63a7fb;
  --gray-10: #5da1f5;
  --gray-15: #579aee;
  --gray-20: #5094e8;
  --gray-30: #4487db;
  --gray-40: #377ace;
  --gray-50: #2a6ec2;
  --gray-60: #1d61b5;
  --gray-70: #1154a8;
  --gray-80: #04479b;
  --gray-90: #003a8e;
  --gray-100: #002e82;
  --background-color: var(--gray-0);
  --background-color-rgb: 106, 173, 255;
  --border-color: var(--gray-80);
  --shadow-color: var(--gray-80);
  --secondary-color: var(--gray-70);

  --text-color: var(--gray-80);
}

:root[data-theme='kawai'] {
  --gray-0: #ffbde6;
  --gray-5: #dcb7ff;
  --gray-10: #d6b1ff;
  --gray-15: #d0aaf9;
  --gray-20: #c9a4f3;
  --gray-30: #bd97e6;
  --gray-40: #b08ad9;
  --gray-50: #a37ecd;
  --gray-60: #9671c0;
  --gray-70: #8a64b3;
  --gray-80: #7d57a6;
  --gray-90: #704a99;
  --gray-100: #633e8d;

  --background-color: var(--gray-0);
  --background-color-rgb: 255, 189, 230;
  --border-color: var(--gray-80);
  --shadow-color: var(--gray-80);
  --secondary-color: var(--gray-70);

  --text-color: var(--gray-90);
}
:root[data-theme='midnight'] {
  --gray-0: #002633;
  --gray-5: #183d4b;
  --gray-10: #0d3340;
  --gray-15: #133946;
  --gray-20: #294e5c;
  --gray-30: #254a58;
  --gray-40: #335966;
  --gray-50: #406673;
  --gray-60: #4d7280;
  --gray-70: #5a7f8d;
  --gray-80: #668c99;
  --gray-90: #7399a6;
  --gray-100: #80a5b3;

  --background-color: var(--gray-0);
  --background-color-rgb: 49, 15, 56;
  --border-color: var(--gray-80);
  --shadow-color: var(--gray-80);
  --secondary-color: var(--gray-70);

  --text-color: var(--gray-90);
}

:root[data-theme='coffee'] {
  --gray-0: #170a06;
  --gray-5: #2f211d;
  --gray-10: #251713;
  --gray-15: #2b1d19;
  --gray-20: #40332e;
  --gray-30: #3c2f2a;
  --gray-40: #4a3d39;
  --gray-50: #584a46;
  --gray-60: #645652;
  --gray-70: #71635f;
  --gray-80: #7e706c;
  --gray-90: #8b7d78;
  --gray-100: #978985;

  --background-color: var(--gray-0);
  --background-color-rgb: 49, 15, 56;
  --border-color: var(--gray-80);
  --shadow-color: var(--gray-80);
  --secondary-color: var(--gray-70);

  --text-color: var(--gray-90);
}
