@import '@styles/variables.scss';

.container {
  max-height: 400px;
  overflow: scroll;
  width: 100%;
}
.subjkt_icon {
  border-radius: 100%;
  margin-right: 1em;
  height: 32px;
  width: 32px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.description {
  font-size: $font-xsmall;
  width: 100%;
}

.user {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.user_box {
  // overflow: hidden;

  width: 33%;
  font-size: $font-small;

  display: flex;
  align-items: center;
  align-content: center;
}
