cache:
    disabled_routes:
        - /monitor/.*
        - /chains/main/blocks/head
        - /chains/.*/mempool
        - /chains/.*/blocks.*head
    enabled: true
    size_mb: 128
    ttl: 10
cors:
    enabled: false
deny_list:
    enabled: false
    values: []
deny_routes:
    enabled: true
    values:
        - /injection/block
        - /injection/protocol
        - /network.*
        - /workers.*
        - /worker.*
        - /stats.*
        - /config
        - /chains/.*/blocks/.*/helpers/baking_rights
        - /chains/.*/blocks/.*/helpers/endorsing_rights
        - /helpers/baking_rights
        - /helpers/endorsing_rights
        - /chains/.*/blocks/.*/context/contracts(/?)$
        - /chains/.*/blocks/.*/context/raw/bytes
gc:
    optimize_memory_store: true
    percent: 100
gzip:
    enabled: false
host: 0.0.0.0:8080 # is used inside nginx config, tzproxy:8080
load_balancer:
    ttl: 600
logger:
    bunch_size: 1000
    pool_interval_seconds: 10
metrics:
    enabled: false
    host: 0.0.0.0:9000
    pprof: false
rate_limit:
    enabled: false
    max: 300
    minutes: 1
redis:
    enabled: false
    host: ""
tezos_host: teia-ui:8000 # references docker-compose.yml service name
