@import '../../styles/variables.scss';

.container {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  div:first-child {
    z-index: 0;
  }
  :nth-child(3) {
    border: none;
    :hover {
    }
  }
  div:hover,
  div:active {
    border: none;
  }

  div {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

.label {
  p {
    color: var(--text-color);
    letter-spacing: 0.015em;
    opacity: 0.7;
    transition: all 0.2s;
    pointer-events: none;
    border: 1px;
    font-weight: 400;
  }
}
