@import '@styles/mixins.scss';
@import '@styles/variables.scss';

.container {
  padding-bottom: 60px;
  width: 100%;
}

.headline {
  text-align: center;

  > p {
    margin: 1em 0;
  }
}

.loading_containter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin: 2em 0;

  b {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }

  > p {
    margin: 1em 0;
  }

  li {
    margin-left: 1.5em;
    margin-top: 0.8em;
  }

  li:before {
    content: attr(counter) '.';
    position: absolute;
    margin-left: -1.5em;
  }
}

.section_title {
  margin-bottom: 0.5em;
}

.proposal {
  margin: 2em 0;

  h3 a {
    text-decoration: none;
  }

  p {
    margin: 0.5em 0;
  }
}

.proposal_id {
  margin-right: 1em;
  padding: 0 1em;
  text-align: center;
  background-color: var(--gray-15);
}

.proposal_title {
  margin-bottom: 0.5em;
}

.proposal_information {
  @include respond-to('desktop') {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2em;

    > :first-child {
      flex: 1 1 0;
    }
  }
}

.user_vote {
  display: inline-block;
  margin-left: 0.5em;
  min-width: 4em;
}

.proposal_buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin: 0.5em 0;

  @include respond-to('desktop') {
    margin-bottom: 1.5em;
  }
}
