.container {
  margin-top: 10px;
  margin-bottom: 10px;

  label,
  .ipfs_upload_button {
    display: block;
    width: 100%;
    padding: 6px;
    border: 2px dashed var(--text-color);
    text-align: center;
    cursor: pointer;

    input {
      display: none;
      width: 100%;
    }
  }

  .ipfs_result {
    display: flex;
    flex-direction: row;

    :first-child {
      flex: 1 1 auto;
    }
  }

  .allowed {
    display: inline-flex;
    font-size: 12px;
    padding-top: 6px;
    text-transform: lowercase;
    opacity: 0.5;

    & > * {
      &.selected {
        font-weight: bold;
      }
    }
  }
}
