@use '@styles/config' as *;
@use '@styles/layout' as layout;

.container {
  position: relative;

  margin: auto;
  min-height: 100vh;
  // min-width: 320px;
  width: 100%;
  padding: 1em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    width: 100%;
    max-width: var(--max-width-internal);
  }

  // container: page / inline-size;

  &.feed {
    .content {
      max-width: var(--max-width);
    }
  }
}
