@import '@styles/variables.scss';
@import '@styles/layout.scss';

.container {
  position: relative;

  margin: auto;
  min-height: 100vh;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    width: 100vw;
    max-width: var(--max-width-internal);
  }

  // container: page / inline-size;

  &.large {
    /*padding: 120px 0 0 0;*/
  }
  &.feed {
    .content {
      max-width: var(--max-width);
    }
  }
}
