@import '@styles/variables.scss';
@import '@styles/layout.scss';
.container {
  position: relative;
  max-width: 600px;
  margin-bottom: 20px;
  border: 1px solid var(--gray-10);
  padding: 10px;
  width: 100%;

  .token_infos_container {
    width: 100%;
    margin-bottom: 2em;
  }
  img,
  video {
    object-fit: contain;
  }
  &.blur {
    img,
    video {
      filter: blur(1.1rem);
    }
  }
  &.photo_protect {
    img,
    video {
      filter: blur(0.3em) brightness(0.2) grayscale(1);
      &:hover {
        // filter: blur(1.1rem);
        filter: unset;
      }
    }
  }

  &.masonry {
    .token_infos_container {
      margin: 0;
      * {
        overflow: hidden;
        max-width: 100%;
      }
    }
  }
}
