@use '@styles/config' as *;
@use '@styles/layout' as layout;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.382);
  display: flex;
  justify-content: center;
  z-index: 99;
  overflow-y: auto;
}

.modalContent {
  position: absolute;
  top: 0;
  background-color: var(--background-color);
  padding: 20px;
  box-shadow: 1px 1px var(--text-color);
  width: 80%;
  max-width: 61.8%;
  height: auto;
  max-height: 61.8vh;
  overflow: auto;
  margin-top: 0 auto;
}

.modalContent div {
  margin: 1em 0;
}

.modalContent p {
  margin-top: 1em;
}
.modalContent li {
  margin-top: 1em;
}
