.tab {
  padding: 10px;
  //border-bottom: 1px solid var(--gray-20);

  &:hover,
  &.selected {
    text-decoration: none;
    // offset the bottom line by the border size.
    margin-bottom: -1px;
    border-bottom: 1px solid var(--gray-60);
  }
}
