@import '@styles/variables.scss';
@import '@styles/layout.scss';

.container {
  width: 100%;
  max-width: var(--max-width-internal);
  // margin-bottom: 20px;
  z-index: 800;
  color: var(--text-color);
  margin-bottom: 20px;

  .grid {
    transition: background-color #{$theme-duration} ease-out,
      height #{$theme-duration} ease-out;
    font-size: var(--font-body);
    width: 100%;
    height: 64px;

    &.fill_bg {
      background-color: var(--background-color);
    }
    &.large {
      height: 110px;
    }
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: 'Events Logo User';
    justify-items: center;

    /* FOR DEBUG (keep) */
    // @include respond-to('phone') {
    //   background-color: red;
    // }
    // @include respond-to('tablet') {
    //   background-color: rgb(47, 0, 255);
    // }
    // @include respond-to('desktop') {
    //   background-color: rgb(30, 255, 0);
    // }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: flex-start;
      grid-area: Events;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-area: User;
      z-index: 500;
      gap: 10px;
      width: 100%;
    }
  }
}

.separator {
  height: 25%;
}

.address {
  position: absolute;
  color: var(--secondary-color);
  transform: translateY(-100%);
}

.logo {
  grid-area: Logo;
}

.sync_label {
  font-size: $font-xsmall;
  word-break: break-all;

  @include respond-to('tablet') {
    font-size: var(--font-body);
  }
}
