@import '@styles/variables.scss';
@import '@styles/layout.scss';

:root {
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

.dropdown_menu {
  background-color: var(--background-color);
  color: var(--text-color);

  button {
    background: none;
    color: inherit;
  }
}

.banner_on {
  margin-top: 3em;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-bottom: 20px;

  z-index: 200;
  color: var(--text-color);
  transition: var(--body-transition);

  .content {
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas:
      'Events Logo User'
      '. . .'
      '. . .';
    justify-items: center;
    padding: 20px 0;
    @include respond-to('tablet') {
      padding: 30px 0;
    }
    /* FOR DEBUG (keep) */
    // @include respond-to('phone') {
    //   background-color: red;
    // }
    // @include respond-to('tablet') {
    //   background-color: rgb(47, 0, 255);
    // }
    // @include respond-to('desktop') {
    //   background-color: rgb(30, 255, 0);
    // }

    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: flex-start;
      grid-area: Events;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-area: User;
      z-index: 500;
      width: 100%;

      & > * {
        font-size: $font-body;
      }

      .hamburger {
        width: 30px;
        height: auto;
        margin-left: 10px;
      }
    }
  }
}

.mr {
  padding-right: 10px;
  border-right: 1px solid var(--border-color);
  margin-right: 10px;
}

.address {
  position: absolute;

  color: var(--secondary-color);
  transform: translateY(-100%);
}

.no__address__text {
  width: 125px;
  word-break: keep-all;

  @include respond-to('desktop') {
    width: 250px;
  }
}

.link {
  font-size: 20px;

  @include respond-to('desktop') {
    font-size: 30px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.menu_item {
  height: 50px;

  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--text-color);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu_item .header_button:hover {
  filter: none;
}

.menu_item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

.logo {
  font-size: 36px;
  font-weight: 700;
  grid-area: Logo;
}
