@import '../../styles/variables.scss';

.status {
  padding-left: 0.5em;
  cursor: default;
  text-decoration: none;
}

span[data-tooltip].status {
  &:before,
  &:after {
    transform: translate(-85%, -10px);
  }

  &:hover:after,
  &:hover:before {
    transform: translate(-85%, 0px);

    @media (max-width: 768px) {
      width: 70vw;
    }
  }
}

span[data-tooltip][data-position='bottom']:before {
  white-space: pre-line;
  width: 50vw;
  top: 100%;
  left: 50%;
  margin-top: 9px;
}
