@import '@styles/variables.scss';
@import '@styles/layout.scss';

.container {
  position: relative;
  &.pinned {
    position: fixed;
    bottom: 0;
  }

  width: 100%;
  background-color: var(--background-color);
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out, opacity #{$theme-duration} ease-out;
  padding: 1.25em;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr repeat(3, 1fr);
  gap: 0px 10px;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.minimal {
  grid-template-columns: 2fr 2fr;
  .logo {
    align-items: flex-start;
  }
}

.menu_left {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}
.menu_right {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.address {
  color: var(--gray-20);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.state_buttons {
  :first-child {
    width: 2em;
    height: 2em;
  }
  display: flex;
  flex: row;
  gap: 0.5em;
}
