@import '@styles/variables.scss';
@import '@styles/layout.scss';
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-small;
  background-color: var(--background-color);
  transition: var(--body-transition);
  flex-direction: column;
  &.pinned {
    position: fixed;
    bottom: 0;
  }
}
.content {
  padding: 1em;
  text-align: center;
  position: relative;
  pointer-events: all;

  @include respond-to('tablet') {
    text-align: right;
  }

  width: 100%;
  max-width: var(--max-width-internal);

  // padding: 1.25em;

  display: grid;
  grid-auto-flow: column;

  grid-template-areas:
    'Copyright Copyright'
    'Menu Menu';
  gap: 20px 10px;
  align-items: flex-start;

  @include respond-to('tablet') {
    grid-template-rows: none;
    grid-template-areas: 'Logo Copyright Menu Tools';
    grid-template-columns: 1fr 2fr repeat(2, 1fr);
  }
}

.minimal {
  grid-template-columns: 2fr 2fr;
  .logo {
    align-items: flex-start;
  }
}

.menus {
  grid-area: Menu;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  justify-content: center;
}
.menu_left {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}
.menu_right {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.address {
  color: var(--gray-20);
}

.logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: Logo;
  @include respond-to('phone') {
    display: none;
  }
  @include respond-to('tablet') {
    display: flex;
  }
}

.copyright {
  grid-area: Copyright;
}

.state_buttons {
  :first-child {
    width: 2em;
    height: 2em;
  }
  display: flex;
  flex: row;
  gap: 0.5em;
  grid-area: Tools;
  align-items: center;
}
