@import '@styles/variables.scss';
@import '@styles/layout.scss';

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  flex-direction: column;

  container: main_menu / inline-size;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--text-color);

  z-index: 400;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-color);
    transition: background-color #{$theme-duration} ease-out,
      color #{$theme-duration} ease-out;
    pointer-events: all;
    height: 100%;
    width: 100%;
  }
}

.menu_label {
  font-size: 20px;
  margin-bottom: 0.2em;

  &:hover {
    text-decoration: underline;
  }

  @include respond-to('desktop') {
    font-size: 30px;
  }
}

.address {
  position: absolute;

  color: var(--secondary-color);
  transform: translateY(-100%);
}

.menu_left,
.menu_right {
  //padding-top: 10cqh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu_right {
  padding-left: 15px;

  @include respond-to('desktop') {
    padding-left: 30px;
  }
  button {
    text-align: left;
  }
}
.menu_left {
  padding-right: 15px;

  @include respond-to('desktop') {
    padding-right: 30px;
  }
  button {
    text-align: right;
  }
}

.disabled {
  color: var(--gray-30);
}

.state_buttons {
  :first-child {
    width: 2em;
    height: 2em;
  }
  display: flex;
  flex: row;
  gap: 0.5em;
}
