@use '@styles/layout' as layout;
@import '@styles/variables.scss';

.bottom_banner {
  background: var(--background-color);
  padding: 10px;
  font-size: 15px;
  text-align: justify;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  a {
    color: var(--text-color);
    font-weight: bold;
  }
}

.banner {
  width: 100%;
  background-color: var(--text-color);
  z-index: 1400;
  top: 0;
  color: var(--background-color);

  a {
    font-size: $font-xsmall;

    @include layout.respond-to('desktop') {
      font-size: $font-small;
    }
  }

  h2 {
    font-size: $font-small;

    @include layout.respond-to('desktop') {
      font-size: $font-large;
    }
  }
}

.close {
  position: absolute;
  top: 13px;
  right: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-right: 32px;
  max-width: 100%;

  @include layout.respond-to('phone') {
    /*width: 50%;*/
    max-width: var(--max-width-internal);
  }

  @include layout.respond-to('desktop') {
    /*width: 50%;*/
    margin: 0 auto;
  }

  a {
    color: var(--background-color);
    text-decoration: underline;
    text-underline-offset: 0.3em;

    @media (min-width: 769px) {
      display: inline-block;
    }
  }
}
