@import '@styles/variables.scss';

.identicon {
  path {
    stroke: var(--text-color);
    fill: var(--text-color);
    transition: all #{$theme-duration} ease-out;
  }
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 100%;
  padding: 1px;
  transition: border-color #{$theme-duration} ease-out;
}

.smol {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
